{% extends 'base.html.twig' %}

{% block main %}
    <h1>Modifier mon profil</h1>

    {{ include('backendUser/user/_edit.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('backendUser_profile', {'id' : user.id}) }}">retour au profil</a>
{% endblock %}
