{% extends 'base.html.twig' %}


{% block main %}
<main class="main content">
  <div class="insider">
    <h2>Nouvelle Question</h2>

    {{ include('backendUser/question/_new.html.twig') }}
</div">
</div>
{% endblock %}
