{{ form_start(validateForm, {'action': path('backendUser_answer_invalidate', {'id': answer.id})}) }}
    {{ form_widget(validateForm) }}
    <button class="btn">{{ button_label|default('Invalider') }}</button>
{{ form_end(validateForm) }}
