{% extends 'base.html.twig' %}


{% block main %}
<main class="main">
    <div class="signupForm">
        <div class="insider">
        <h2>{{title}}</h2>
        {{ include('user/_signupform.html.twig') }}
        </div>
    </div>
</main>
{% endblock %}
